body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('https://media.istockphoto.com/id/1050838506/nl/foto/uitzicht-vanaf-boven-van-de-binnenstad-van-de-stad-dordrecht-nieuwe-haven.jpg?s=612x612&w=0&k=20&c=Fxussiz5Hvqt4UamHdo9lN-wED2yJxwewz68fBZY6Eg=');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px;
    }

.left-section {
    flex: 0.166;
    background-color: #f2f2f2;
    padding: 20px;
}

.right-section {
    flex: 0.75;
    background-color: #d9d9d9;
    padding: 20px;
}

.article {
    margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
    .container {
        display: flex;
    }
    header {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Lengte%26breedte.svg/1200px-Lengte%26breedte.svg.png');
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            padding: 50px;
        }
}

.content {
    float: center ;
}

.img {
    align-items: left;
    max-width: 300px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}


